/* CSS declarations go here */

body, html {
  background-color: black;
  height: 100%;
  text-transform: uppercase;
  font-family: "Paytone One", sans-serif;
  font-size: 20px;
}

.scorekeeperWrapper {
  height: 100%;
}

.sep5 {
  height: 5%;
}

.addPlayer {
  background-color: grey;
  height: 45%;
  min-height: 45%;
  margin-bottom: 5px;
}

.resetScores {
  background-color: grey;
  height: 45%;
  min-height: 45%;
}

.sortPlayer {
  background-color: grey;
  height: 45%;
  min-height: 45%;
  margin-bottom: 5px;

}

.volume {
  background-color: grey;
  height: 45%;
  min-height: 45%;
}

.player {
  margin: 5px;
  padding: 5px 5px 10px 5px;
  cursor: pointer;
}

.color1 {
  background-color: #006C6E;
}
.color2 {
  background-color: #1AB58A;
}
.color3 {
  background-color: #FFF345;
}
.color4 {
  background-color: #FFB63E;
}
.color5 {
  background-color: #FF7850;
}

.unselectable , .unselectable * {
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
